service firebase.storage {
  match /b/{bucket}/o {
    match /users/{userUid}/{allPaths=**} {
      allow read, write: if request.auth.uid == userUid;
    }

    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
